body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  padding: 30px;
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;  /*__it helps me click on other keys white the flash is on*/
  background: transparent;
  opacity: 0;
  transition: opacity 0.15s ease;
}

#flash.active {
  opacity: 0.8;
}

.square {
  
  width: 200px;
  height: 200px;
  background-color: rgb(87, 44, 196);
  font-family: "Bangers", system-ui;
  font-weight: 800;
  font-style: italic;
  font-size: x-large;
  padding: 15px;
  align-items: center;
  justify-content: center;
  display: flex;

  animation-duration: 4s;
  animation-name: spin;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes spin{
  0%{

  }
  50%{
    scale: 2;
    transform: rotate(0);
    border-radius: 0;
  }
  100%{
    transform: rotate(360deg);
    border-radius: 50%;
    scale: 2;

  }

}


.instructions{
  display: none;
}


/* .bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
} */
